body {
  overflow: hidden;
  height: 90vh;
  width: 90vw;
  margin: auto;
  padding: auto;
  margin-top: 2rem;
}

.container {
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  padding: auto;
  width: 90vw;
  height: 90vh;
}

.first {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.heading {
  box-sizing: border-box;
  font-size: 3rem;
  margin-right: 2rem;
  padding-right: 6rem;
  margin-left: 3rem;
}

.tasks {
  font-weight: bolder;
  color: rgb(22, 21, 21);
}

.lists {
  color: grey;
}

.fa,
.fas {
  color: red;
  margin-right: 3rem;
  font-size: 3rem;
}
.box5 {
  display: none;
}
.box4 {
  display: none;
}

.second {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  height: auto;
  position: relative;
}

.subhead {
  font-size: 1.5rem;
  color: rgb(235, 73, 73);
}

.strike {
  text-decoration: line-through;
  font-size: 20px;
  color: rgb(235, 73, 73);
  font-weight: bold;
}

.box {
  height: 20rem;
  width: 15rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 2px solid rgb(235, 73, 73);
  border-radius: 1rem;
  box-shadow: 5px 5px 10px grey;
  text-align: center;
}

.forms {
  font-size: 1rem;
  text-align: center;
}

hr {
  width: 80%;
  margin-right: 0rem;
}

a {
  font-size: 2rem;
  color: grey;
  margin-top: 9px;
  text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  body {
    overflow: hidden;
    height: 85vh;
    width: 90vw;
    margin: auto;
    padding: auto;
  }

  .fa,
  .fas {
    color: red;

    font-size: 2rem;
  }
  .heading {
    box-sizing: border-box;
    display: flex;
    font-size: 2rem;
    margin-right: 0rem;
    padding-right: 0rem;
    margin-left: 1rem;
  }
  .tasks {
    font-size: 2rem;
    padding-right: 0.2rem;
  }
  .lists {
    font-size: 2rem;
  }

  .container {
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    padding: auto;
    width: 90vw;
    height: 85vh;
  }

  hr {
    display: none;
  }
  .first {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .second {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
  }

  .box {
    box-sizing: border-box;
    height: 3rem;
    width: 90%;
    border: 2px solid rgb(235, 73, 73);
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    margin: 1rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .subhead {
    margin-left: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .strike {
    display: none;
  }

  .forms {
    display: none;
    text-align: center;
  }

  a {
    font-size: 1rem;
    color: grey;
    text-decoration: none;
    text-align: center;
  }

  .box5 {
    display: block;
    text-align: center;
  }
  .box4 {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow: hidden;
    height: 85vh;
    width: 90vw;
    margin: auto;
    padding: auto;
  }

  .fa,
  .fas {
    color: red;
    margin-right: 5rem;
    font-size: 2rem;
  }
  .heading {
    display: flex;
    justify-content: space-around;
  }
  .tasks {
    font-size: 2rem;
    padding-right: 0.2rem;
    padding-left: 1rem;
  }
  .lists {
    font-size: 2rem;
    padding-right: auto;
  }

  .container {
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    padding: auto;
    width: 90vw;
    height: 85vh;
  }

  hr {
    display: none;
  }
  .first {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .heading {
    font-size: 2rem;
  }

  .second {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
  }

  .box {
    box-sizing: border-box;
    height: 3rem;
    width: 90%;
    border: 2px solid rgb(235, 73, 73);
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    margin: 1rem;
    padding-bottom: 2rem;
  }
  .subhead {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .strike {
    display: none;
  }

  .forms {
    display: none;
  }

  a {
    font-size: 1rem;
    color: grey;
    text-decoration: none;
  }

  .box5 {
    display: block;
    text-align: center;
  }
  .box4 {
    display: block;
    text-align: center;
  }
}
