body {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.first {
    display: flex;
    margin: 50px;
    padding-left: 150px;
    padding-right: 170px;
}

h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 50px;
}

h1 span {
    background: #fff;
    padding: 0 10px;
}

.fa-arrow-circle-left:before {
    display: inline-block;
    content: "\f0a8";
    color: rgb(250, 60, 60);
}

.fa,
.fas {
    font-weight: 900;
    font-size: 40px;
}

.second {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.back {
    padding-bottom: 10px;
}

#back {
    display: inline-block;
    text-decoration: none;
    color: grey;
    font-weight: 500;
    font-size: 30px;
    bottom: 5px;
    margin-left: 15px;
    margin-top: 3px;
}

.third {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.subhead {
    font-size: 25px;
    color: rgb(235, 73, 73);
    margin-bottom: 10px;
}

.strike {
    text-decoration: line-through;
    font-size: 20px;
    color: rgb(235, 73, 73);
    font-weight: 500;
}

.box {
    height: 350px;
    width: 340px;
    border: 2px solid rgb(235, 73, 73);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(160, 158, 158);
    text-align: center;
    position: relative;
}

.forms {
    font-size: 20px;
}

hr {
    width: 80%;
    margin-right: 0px;
}

.add {
    font-size: 35px;
    color: grey;
    margin-top: 9px;
}

.plussign {
    height: 40px;
    width: 30px;
    padding-left: 10px;
    margin-right: 75px;
    margin-top: 5px;
    border: 2px solid rgb(235, 73, 73);
    border-radius: 50%;
    background-color: rgb(235, 73, 73);
    color: white;
    font-weight: bold;
    right: 425px;
    bottom: 12px;
    position: absolute;
}