body {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 50px;
    padding: 50px;
}

.first {
    display: flex;
    margin: 50px;
    padding-left: 150px;
    padding-right: 170px;
    justify-content: space-between;
}

.heading {
    font-size: 50px;
}

.tasks {
    font-weight: bolder;
    color: rgb(22, 21, 21);
}

.lists {
    color: grey;
}

.fa-plus-circle:before {
    content: "\f055";
    color: rgb(235, 73, 73);
}

.add {
    font-size: 35px;
    color: grey;
    margin-top: 9px;
}

.textadd {
    font-size: 35px;
    color: grey;
    margin-top: 9px;
}

.second {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
    justify-content: space-between;
}

.subhead {
    font-size: 25px;
    color: rgb(235, 73, 73);
}

.strike {
    text-decoration: line-through;
    font-size: 20px;
    color: rgb(235, 73, 73);
    font-weight: 500;
}

.box {
    height: 300px;
    width: 200px;
    border: 2px solid rgb(235, 73, 73);
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

.forms {
    font-size: 20px;
}

hr {
    width: 80%;
    margin-right: 0px;
}